.myElement {
    position: fixed; /* 讓元素填滿整個頁面 */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('result.gif');
    animation: fadeOut 4.5s linear forwards; /* 定義動畫 */
  }
  
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  